In [1]:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [8]:
income_data = pd.read_csv('income.csv',header = 0, delimiter = ', ')

In [9]:
income_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [10]:
income_data.iloc[0]

age                          39
workclass             State-gov
fnlwgt                    77516
education             Bachelors
education-num                13
marital-status    Never-married
occupation         Adm-clerical
relationship      Not-in-family
race                      White
sex                        Male
capital-gain               2174
capital-loss                  0
hours-per-week               40
native-country    United-States
income                    <=50K
Name: 0, dtype: object

In [11]:
income_data["sex-int"] = income_data["sex"].apply(lambda row: 0 if row == "Male" else 1)

In [12]:
income_data["country-int"] = income_data["native-country"].apply(lambda row: 0 if row == "United-States" else 1)

In [13]:
labels = income_data[["income"]]
data = income_data[["age", 'capital-gain', 'capital-loss', 'hours-per-week', 'sex-int', 'country-int']]

In [14]:
train_data, test_data, train_labels, test_labels = train_test_split(data, labels, random_state = 1)

In [15]:
forest = RandomForestClassifier(random_state = 1)

In [16]:
forest.fit(data, labels)
print(forest.score(test_data, test_labels))

0.8630389387053188

In [17]:
print(forest.feature_importances_)

[0.30715604 0.29922954 0.12172397 0.19684802 0.0668219  0.00822053]